<a href="https://colab.research.google.com/github/imishadash/test_repo/blob/master/Copy_of_Bel_June.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 - 9th June - 2021

In [ ]:
print("Hello World")

Hello World

In [ ]:
productCost = 200
gstPercent = 18 
gstAmount = gstPercent / 100 * productCost 
finalAmount = productCost + gstAmount

In [ ]:
print(productCost)
print(gstAmount)
print("----------")
print(finalAmount)

200
36.0
----------
236.0

To know the datatype of variables

In [ ]:
print( type(productCost) )
print( type(finalAmount) )

<class 'int'>
<class 'float'>

In [ ]:
# int, float, str, bool,

In [ ]:
# int a = 5, b = 10;
#a = 5, b = 10
a,b = 5, 10
print(a, b)

5 10

In [ ]:
print("Enter the product Cost : ")
productCost = input()
print(type(productCost))
print(productCost)
print(productCost * 3) 

productCost = int(productCost)   #Python is a dynamic typed language  
print(productCost)               #conversion function : float, str, bool
print(productCost * 3)  
print(type(productCost))

Enter the product Cost :
5
5
555
<class 'str'>
5
15
<class 'int'>

In [ ]:
5 / 2

2.5

In [ ]:
5 // 2

2

In [ ]:
int(5 / 2)

2

In [ ]:
5 ** 2.5

55.90169943749474

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
a = 5
b = 10
print( a )
print( b )  #try this

5

10

In [ ]:
a = 10
if (a < 10) :
  print("True")
else:
  print("False")

False

In [ ]:
age = 15
if age > 45:
  print("Free Vaccine")
else :
  if 18 <= age < 45:
    print("Paid Vaccine")
  else:
    print("You are not eligible for vaccination")

You are not eligible for vaccination

In [ ]:
age = 50
if age > 45:
  print("Free Vaccine")
elif 18 <= age < 45:
  print("Paid Vaccine")
  print("The cost is 750 for covishield and 1400 for covaxin")
else:
    print("You are not eligible for vaccination")

Free Vaccine

In [ ]:
# Bitwise Operators : work on individual bits of a number 
# &, |, ^, ~, >>, <<

a = 5       #0101
b = 9       #1001
#  a & b     0001
#  a | b     1101
#  a ^ b     1100
print(a, bin(a))  
print(b, bin(b))
print(f"{a} & {b} = {a & b}")
print(f"{a} | {b} = {a | b}")
print(f"{a} ^ {b} = {a ^ b}")

5 0b101
9 0b1001
5 & 9 = 1
5 | 9 = 13
5 ^ 9 = 12

In [ ]:
# & is used to verify a bit
# LSb
num = int(input("Enter a number : "))
print( num & 1 )

if (num & 1) == 0:
  print("Even Number")
else:
  print("Odd Number")
# 0   0000 & 0001 = 0
# 1   0001 & 0001 = 1
# 2   0010 & 0001 = 0
# 3   0011 & 0001 =  
# 4   0100 & 0001 =
# 5   0101 & 0001 =
# 6   0110 & 0001 =

Enter a number : 56
0
Even Number

In [ ]:
# & is used to verify a bit
# LSb
num = int(input("Enter a number : "))
print( num & 1 )

if (num & 3) == 0:
  print("Divisible by 4")
else:
  print("Not Divisible by 4")
# 4   0 0100
#     0 0011

# 8   0 1000
# 12  0 1100
# 16  1 0000
# 20  1 0100

Enter a number : 44
0
Divisible by 4

In [ ]:
# 7000 -> 0
# 8000 -> 800
# 10000 -> 1000
# 12000 -> 1000
# 15000 -> 1000

minPurchaseValue = 7500
maxDiscountValue = 1000

actualPurchaseValue = 12000

discountValue = 0
if actualPurchaseValue < minPurchaseValue:
  discountValue = 0
else:
  discountValue = 10/100 * actualPurchaseValue
  if discountValue > maxDiscountValue:
    discountValue = maxDiscountValue

finalAmount = actualPurchaseValue - discountValue
print(actualPurchaseValue)
print(discountValue)
print("---------------")
print(finalAmount)

12000
1000
---------------
11000

In [ ]:
# 7000 -> 0
# 8000 -> 800
# 10000 -> 1000
# 12000 -> 1000
# 15000 -> 1000

minPurchaseValue = 7500
maxDiscountValue = 1000

actualPurchaseValue = 12000

discountValue = 0
if actualPurchaseValue < minPurchaseValue:
  discountValue = 0
else:
  discountValue = 10/100 * actualPurchaseValue
  discountValue = min(discountValue, maxDiscountValue)

finalAmount = actualPurchaseValue - discountValue
print(actualPurchaseValue)
print(discountValue)
print("---------------")
print(finalAmount)

12000
1000
---------------
11000

In [ ]:
print( max(5, 10) )
print( min(5, 10) )

10
5

In [ ]:
# C : while, for, do-while
# Python : while, for

In [ ]:
# for : When you are accessing the elements of container(ds which holds a collection of elements)
# for : when you know the number of times the loop should repeat.
# while : when you dont know the number of times the loop should repeat

In [ ]:
i = 0
while i < 5:
  print(i , end = ' ')
  i = i + 1  # i += 1

0 1 2 3 4

In [ ]:
for var in range(5):
  print(var ,end = '-')

0-1-2-3-4-

In [ ]:
#GCD of two numbers (Euclids, Successive subtraction, school method)
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
gcd = 1

limit = min(a,b)

for i in range(1 , limit + 1):
  print("i : " , i)
  if (a % i) == 0 and (b % i) == 0:
    gcd = i
    print("gcd : " , gcd)

Enter the first number : 10
Enter the second number : 20
i :  1
gcd :  1
i :  2
gcd :  2
i :  3
i :  4
i :  5
gcd :  5
i :  6
i :  7
i :  8
i :  9
i :  10
gcd :  10

In [ ]:
#GCD of two numbers (Euclids, Successive subtraction, school method)
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
gcd = 1

while a != b:
  if a > b:
    a = a - b
  else:
    b = b - a 
  print(a,b)
print("GCD : " , a)

Enter the first number : 2
Enter the second number : 20
2 18
2 16
2 14
2 12
2 10
2 8
2 6
2 4
2 2
GCD :  2

In [ ]:
#GCD of two numbers (Euclids, Successive subtraction, school method)
a = int(input("Enter the first number : "))
b = int(input("Enter the second number : "))
gcd = 1

while b != 0:
  rem = a % b
  a = b
  b = rem
  print(a,b)
print("GCD : " , a)

Enter the first number : 30
Enter the second number : 100
100 30
30 10
10 0
GCD :  10

In [ ]:
#Prime Number
#2,3,5,7,11,13,17,19,23,29,31,37
n = int(input("Enter a numberr : "))
prime = True
for i in range(2 , n ):
  print(i, n % i)
  if n % i == 0:
    prime = False
    break

if prime == True 
    print("Not a Prime Number")
else:
    print("Prime Number")

Enter a numberr : 25
2 1
3 1
4 1
5 0
Not a Prime Number

In [ ]:
for i in range(5):
  print(i)
else:
  print("Done with loop")

0
1
2
3
4
Done with loop

In [ ]:
for i in range(5):
  print(i)
print("Done with loop")

0
1
2
3
4
Done with loop

In [ ]:
for i in range(5):
  print(i)
  break
else:
  print("Done with loop")

0
Done with loop

In [ ]:
n = 10
for i in range(2 , n):
  print(i)
  if n % i == 0:
    print("Coming out of loop using break")
    break
else:
  print("Done with all iteration of loop")

2
Coming out of loop using break

In [ ]:
#Prime Number
#2,3,5,7,11,13,17,19,23,29,31,37
n = int(input("Enter a numberr : "))
for i in range(2 , n ):
  print(i, n % i)
  if n % i == 0:
    print("Not a Prime Number")
    break
else:
    print("Prime Number")

Enter a numberr : 5
2 1
3 2
4 1
Prime Number

In [ ]:
if True:
  pass

In [ ]:
#C Array : a collection of elements, 
#          all elements should be of same datatype.
#          its a fixed-size DS (it cannot grow or shrink)
#Python List : a colletion of elements
#           elements can be of different types
#           resizeable data struture

In [ ]:
a = []
print( type(a) )
print( len(a) )

<class 'list'>
0

In [ ]:
nums = [12,23,34]
print( type(nums))
print( len(nums))

<class 'list'>
3

In [ ]:
names = ['Sikander','Ankit','Kishore','Nanni']
print( type(names))
print( len(names))

<class 'list'>
4

In [ ]:
mixed = [1,'Sikander',2,'Narender']

In [ ]:
print(a)
print(nums)
print(names)
print(mixed)

[]
[12, 23, 34]
['Sikander', 'Ankit', 'Kishore', 'Nanni']
[1, 'Sikander', 2, 'Narender']

In [ ]:
print( max(nums))
print( min(nums))
print( sorted(nums))
print( sum(nums))

34
12
[12, 23, 34]
69

In [ ]:
# append(ele) (similar to push_back) : Add a new element at end of list
# function : global functions
# method : member functions
nums.append(20)
nums.append(3)
nums.append(67)
print(nums)

[12, 23, 34, 20, 3, 67]

In [ ]:
# insert(index, ele) 
nums.insert(0, 43)
print(nums)

[43, 12, 23, 34, 20, 3, 67]

In [ ]:
 nums.insert(3, 78)
 nums

[43, 12, 23, 78, 34, 20, 3, 67]

In [ ]:
#pop(index) delete element based on index
#remove(key) delete the  given element
nums.pop()

67

In [ ]:
nums.pop(2)

23

In [ ]:
nums.remove(34)

In [ ]:
# nums.pop(8)
# nums.remove(5)

ValueError: ignored

In [ ]:
print(nums)
print("12 :" , 12 in nums )
print("15 :" , 15 in nums )

[43, 12, 78, 20, 3]
12 : True
15 : False

In [ ]:
# while, else, for, elif, break , continue , pass, if 
# not , in , and , or ,not

In [ ]:
nums.index(20)
# nums.index(5)

3

In [ ]:
nums.count(3)
nums.count(5)

0

In [ ]:
nums.clear()

In [ ]:
nums

[]

In [ ]:
a = [1,2,3]
b = [4,5,6]
# a.append(b)
a.extend(b)
print(a)
print(len(a))

[1, 2, 3, 4, 5, 6]
6

In [ ]:
a = [1,2,3]
b = [4,5,6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [12, 23 , 34 , 45]
# b = a  #Shallow Copy
b = a.copy()  #Deep Copy
print(a , "\n", b)

[12, 23, 34, 45]
 [12, 23, 34, 45]

In [ ]:
a[0] = 78
print(a , "\n", b)

[78, 23, 34, 45]
 [12, 23, 34, 45]

In [ ]:
#Methods, They modify the object, its only available with mutable data structures
a = [12,32,21,56,54,89,76]
print( a )
# print( a.reverse() )
a.reverse()
print( a )

a.sort(reverse=True)
print( a )

[12, 32, 21, 56, 54, 89, 76]
[76, 89, 54, 56, 21, 32, 12]
[89, 76, 56, 54, 32, 21, 12]

In [ ]:
#Functions : It can work with mutable / immutable arguments
reversed()
sorted()

TypeError: ignored

In [ ]:
names.sort(key = len , reverse=True)
names

['Sikander', 'Kishore', 'Nanni', 'Ankit']

# Day-2 10-June-2021

In [ ]:
import sys
x = 5
print( sys.getsizeof(x))

28

In [ ]:
x = 56243876732467673783427843
print(x)
print( sys.getsizeof(x))

56243876732467673783427843
36

## Functions

In [ ]:
def square(num):
  print(num * num)
  #print(a + b)
  #print("abcd" + 5)

In [ ]:
res = square(5)
print(res)

25
None

In [ ]:
def square(num):
  return num * num

In [ ]:
res = square(5)
print(res)

25

In [ ]:
def factorial(n):
  if n == 0 :
    return 1
  return n * factorial(n - 1)

In [ ]:
print( factorial(5) )

120

In [ ]:
n = 5
r = 3
ncr = factorial(n) / (factorial(n-r) * factorial(r))

In [ ]:
# Does python support function overloading
def add(a,b):
  return a + b

In [ ]:
print( add(1,2) )
# print( add(1,2,3) )

3

In [ ]:
def add(a,b,c):
  return a + b + c

In [ ]:
# print( add(1,2) )
print( add(1,2,3) )

6

### Default Arguments 
(Default values for missing parameters)

In [ ]:
def add(a , b , c = 0):
  print("a = " , a)
  print("b = " , b)
  print("c = " , c)

In [ ]:
add(4 , 5 , 8)
add(3, 5)

a =  4
b =  5
c =  8
a =  3
b =  5
c =  0

In [ ]:
def add(a , b = 0, c = 0):
  print("a = " , a)
  print("b = " , b)
  print("c = " , c)

add(5)

a =  5
b =  0
c =  0

In [ ]:
def add(a , b = 0, c ):
  print("a = " , a)
  print("b = " , b)
  print("c = " , c)

SyntaxError: ignored

### variable number of arguments

In [ ]:
def add(args):
  pass

In [ ]:
add(5)
add( [1,2,3,4] )
# add( 1,2,3,4 )

In [ ]:
def add(*args):
  print("Number of arguments : " , len(args))

In [ ]:
add(5)
add( [1,2,3,4] )
add( 1,2,3,4 )

Number of arguments :  1
Number of arguments :  1
Number of arguments :  4

In [ ]:
def add(*args):
  print("Number of arguments : " , len(args))
  for arg in args:
    print(arg)

In [ ]:
add(5)
add( [1,2,3,4] )
add( 1,2,3,4 )

Number of arguments :  1
5
Number of arguments :  1
[1, 2, 3, 4]
Number of arguments :  4
1
2
3
4

In [ ]:
names = ['Girish','Vivek','Ankit']

for name in enumerate(names,100) :
  print(name)

(100, 'Girish')
(101, 'Vivek')
(102, 'Ankit')

In [ ]:
print( max(1,2,3,4,5) )
print( max([1,2,3,4,5]) )

5

In [ ]:
a = [1,2,3]
b = [4,5,6]
total = sum(a)
print(total)
total = sum(b, total) 
print(total)

6
21

In [ ]:
def mysum(arr , start = 0):
  total = start 
  for ele in arr:
    total = total + ele 
  return total

In [ ]:
mysum([1,2,3])

6

In [ ]:
mysum([1,2,3] , 8)

14

In [ ]:
def mysum(arr , start = 0):
  if type(arr) != list:
    print("Invalid type")
    return 0
  total = start 
  for ele in arr:
    total = total + ele 
  return total

In [ ]:
mysum([1,2])
mysum(1,2)

Invalid type

0

In [ ]:
def myrange(*args):
  if len(args) == 1:
    start = 0
    end = args[0]
    step = 1 
  elif len(args) == 2:
    start = args[0]
    end = args[1]
    step = 1
  else:
    start = args[0]
    end = args[1]
    step = args[2]
  print(start, end, step)

In [ ]:
myrange(5)
myrange(5, 10)
myrange(1,2,3)

0 5 1
5 10 1
1 2 3

In [ ]:
def add(a = 0, b = 0, c = 0 ):
  print("a = " , a)
  print("b = " , b)
  print("c = " , c)

In [ ]:
add(1,2,3)  #positional argument
add(c = 5, a = 3, b = 8) #keyword argument

a =  1
b =  2
c =  3
a =  3
b =  8
c =  5

In [ ]:
add(c = 5)

a =  0
b =  0
c =  5

In [ ]:
range(10)

range(0, 10)

In [ ]:
a = [12, 23 , 34]
reversed(a)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for ele in reversed(a):
  print(ele, end = ' ')

34 23 12

In [ ]:
def myrange(start, stop):
  i = start
  while i < stop:
    print("-----------")
    yield i
    i = i + 1

In [ ]:
# myrange(0 , 5)
import time
for ele in myrange(3, 8):
  print(ele )
  print("*********")
  time.sleep(4)

-----------
3
*********
-----------
4
*********
-----------
5
*********
-----------
6
*********
-----------
7
*********

In [ ]:
# range(5)  #[0,1,2,3,4]

In [ ]:
names.append('vivek')
names.append('ramesh')
names

['Girish', 'Vivek', 'Ankit', 'vivek', 'ramesh']

In [ ]:
marks = [12,23,34,43,32]
print(names)
print(marks)

['Girish', 'Vivek', 'Ankit', 'vivek', 'ramesh']
[12, 23, 34, 43, 32]

In [ ]:
for index, details in enumerate(zip(names, marks)):
  name, mark = details  #unpacking
  print(index, name, mark)

0 Girish 12
1 Vivek 23
2 Ankit 34
3 vivek 43
4 ramesh 32

In [ ]:
a = [1,2,3]
#b = a #[1,2,3]
b = a.copy()
print("id(a) : " , id(a))
print("id(b) : " , id(b))

id(a) :  140028871298976
id(b) :  140028939394416

In [ ]:
if id(a) == id(b):
  print("Referring to same block")
else:
  print("Referring to different block")

Referring to different block

In [ ]:
a is b

False

In [ ]:
#Function Pointer (Funtion Object)
#callback function 

def factorial(n):
  res = 1
  for i in range(1, n + 1):
    res = res * i
  return res

In [ ]:
print( factorial )
print( hex(id(factorial)))

<function factorial at 0x7f5b032609e0>
0x7f5b032609e0

In [ ]:
funptr = factorial

In [ ]:
funptr(3)

6

In [ ]:
def add(a, b):
  print("Add")
  return a + b

def sub(a, b):
  print("Sub")
  return a - b

def mul(a, b):
  print("Multiply")
  return a * b

def div(a, b):
  print("Divide")
  return a / b

In [ ]:
a = int( input("Enter the first number : "))
b = int( input("Enter the second number : "))

funptr = [add, sub, mul , div]
print("Enter  the operation to perform 0. add 1. sub 2. mul 3. div")
ch = int(input())

funptr[ch](a,b)

Enter the first number : 4
Enter the second number : 8
Enter  the operation to perform 0. add 1. sub 2. mul 3. div
2
Multiply

32

In [ ]:
sorted([12,21,23,3,6,4,8])

[3, 4, 6, 8, 12, 21, 23]

In [ ]:
sorted(['qewr','asf','zv','uio','hjk'] , key = len )

['zv', 'asf', 'uio', 'hjk', 'qewr']

In [ ]:
def square(n):
  print("square" , n)
  return n * n

In [ ]:
for ele in map(square , [1,2,3,4,5]):
  print(ele)
  print("-------------")

square 1
1
-------------
square 2
4
-------------
square 3
9
-------------
square 4
16
-------------
square 5
25
-------------

In [ ]:
# map -> function in python -> for_each
# map -> Data Struture in C++  -> dict

In [ ]:
def square(n):
  return n * n

a = lambda n : n * n
b = square

In [ ]:
a(5)

25

In [ ]:
b(4)

16

In [ ]:
list( map(lambda x : x ** 2 , [1,2,3,4]) )

[1, 4, 9, 16]

In [ ]:
import random

In [ ]:
random.random()

0.476546534586614

In [ ]:
random.randint(20 , 50)

37

In [ ]:
def generateRandoms(n , start, stop):
  nums = []
  for i in range(n):
    ele = random.randint(start, stop)
    nums.append(ele)
  return nums

In [ ]:
nums = generateRandoms(10 , 20, 50)
nums

[38, 47, 44, 32, 25, 47, 30, 20, 36, 45]

In [ ]:
selected = []
for ele in nums:
  if ele >= 30:
    selected.append(ele)
print(selected)

[38, 47, 44, 32, 47, 30, 36, 45]

In [ ]:
list( filter(lambda x : x < 30 , nums) )

[25, 20]

In [ ]:
# In this session we will learn about 
# 1. one line if else statement
# 2. List comprehension
# 3. List comprehension with conditionals
# 4. tuple
# 5. string 
# #if time permits
# 6. set

In [ ]:
#? :  
# True-Statement if condition else False-statement
a = 30
b = 20
large = a if a > b else b
print(large)

30

In [ ]:
a = 12
b = 3
c = 9

large = a if (a > b and a > c) else (b if b > c else c)
large

12

In [ ]:
a=[1,2,3]; 
c=a.copy(); 
b=[4,5,6]; 
a=b; 
print(b); 
f=a.copy(); 
a[0]=42; 
print("b is:", b); 
print("a is:", a); 
print("c is:", c); 
print("f is:", f)

[4, 5, 6]
b is: [42, 5, 6]
a is: [42, 5, 6]
c is: [1, 2, 3]
f is: [4, 5, 6]

In [ ]:
nums 
double = []
for num in nums :
  double.append( num * 2 )
print(nums)
print(double)

[38, 47, 44, 32, 25, 47, 30, 20, 36, 45]
[76, 94, 88, 64, 50, 94, 60, 40, 72, 90]

In [ ]:
multiple2 = [num * 3  for num in nums]  # list comprehension
print(multiple2)

[114, 141, 132, 96, 75, 141, 90, 60, 108, 135]

In [ ]:
selected = []
for ele in nums:
  if ele >= 30:
    selected.append(ele)
print(selected)

[38, 47, 44, 32, 47, 30, 36, 45]

In [ ]:
selected = [ele for ele in nums if ele <= 40]
print(selected)

[38, 32, 25, 30, 20, 36]

In [ ]:
#Cut the sticks

[38, 47, 44, 32, 47, 30, 36, 45]

In [ ]:
for ele in zip([1,2,3], [4,5]):
  print(ele)

(1, 4)
(2, 5)

In [ ]:
marks = [34,23,49, 10 ]
all(marks)

True

In [ ]:
all ( map(lambda x : x >= 20 , marks) )

False

In [ ]:
"Passed" if all([ele >= 20 for ele in marks])  else "Fail"

'Fail'

In [ ]:
print( any([0,0,0]) )
print( any([0,1,0]) )

False
True

In [ ]:
#List is mutable DS, it can grow and shrink, we can modify elements 
#Tuple is immutable DS, it cannot grow or shrink, we cannot modify the elements

In [ ]:
a = 5,10,15 
print(a)

(5, 10, 15)

In [ ]:
print(a[0])  #valid
#a[0] = 23   #invalid

5

In [ ]:
#append, insert, extend, pop, remove, sort : not  supported
#index, count  : supported
#sum, max, min

In [ ]:
b = 5
c = (5)
print(type(b))
print(type(c))

In [ ]:
x = 5,
y = (5,)
z = tuple()

In [ ]:
def mymax(*args):
  print(type(args))
  print(args)

In [ ]:
mymax(1)
mymax(1,2,3,4)

<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3, 4)

In [ ]:
def calculate(a,b):
  return a + b, a - b

In [ ]:
res = calculate(4,9)
print(type(res))
print(res)

<class 'tuple'>
(13, -5)

In [ ]:
#strings
#There is no datatype called as character is python.
#strings do not end with \0
#we can use single qotes or double quotes for representing strings

In [ ]:
name = "Sikander"
print(name)

Sikander

In [ ]:
name = 'Brajesh Kumar'
print(name)

Brajesh Kumar

In [ ]:
height1 = "5'6\""
height2 = '5\'6"'
print(height1)
print(height2)

5'6"
5'6"

In [ ]:
# name[0] = 'R'

TypeError: ignored

In [ ]:
#str + str #valid
#str + int #invalid
#str * int #valid  (repeat)
#str * str #invalid

In [ ]:
print("*" * 1)
print("*" * 2)
print("*" * 3)
print("*" * 4)
print("*" * 5)

*
**
***
****
*****

In [ ]:
print("*" * 5)   #range(5,0,-1)
print("*" * 4)
print("*" * 3)
print("*" * 2)
print("*" * 1)

In [ ]:
#ctype.h  isdigit,  tolower 
# String Methods
"123".isdigit()

True

In [ ]:
"12ab45".isdigit()

False

In [ ]:
print( "HELLO".isupper() )
print("Hello".isupper())

True
False

In [ ]:
# isdigit, isupper, islower, isspace, isalnum, isalpha
# dir(str)
print( "HELLO".istitle() )
"Hello World".istitle()

False

True

In [ ]:
data = "sikander"
print( data.upper() )
print( data )

SIKANDER
sikander

In [ ]:
# data.lower() , data.capitalize(), data.swapcase()
print( data.center(20,'*') )
print( data.ljust(20,'*') )
print( data.rjust(20,'*') )

******sikander******
sikander************
************sikander

In [ ]:
#split(), strip(), join

In [ ]:
words = """Today,is,Thursday""".split(',')
print(words)
print(len(words))

['Today', 'is', 'Thursday']
3

In [ ]:
" ".join(words)

'Today is Thursday'

In [ ]:
"   asf adsf  ".strip()

'asf adsf'

In [ ]:
data = "bharat"
"".join(sorted(data))
# "aabhrt"

'aabhrt'

In [ ]:
# count number of vowels in a give in string
data.count('a')

2

In [ ]:
data = "bharat electronics"
data = "Olavu"
sum( list(map(lambda x : x.lower() in "aeiou" , data)) )

3

In [ ]:
"".join( [c for c in data if c.lower() in "aeiou"] )

'Oau'

## Set

In [ ]:
# A collection of unique elements.
# C++ : Set uses Tree, Python : hashing 
# C++: ordered set, Python : Unordered set
# We cannot access individual elements using index

In [ ]:
emptySet = set()
nums = {12,21,23,34}
print(emptySet, type(emptySet))
print(nums, type(nums))

set() <class 'set'>
{34, 12, 21, 23} <class 'set'>

In [ ]:
set("bharat electronics")
#bhart elconis

{' ', 'a', 'b', 'c', 'e', 'h', 'i', 'l', 'n', 'o', 'r', 's', 't'}

In [ ]:
data = "bharat electronics"
unique = []
for c in data:
  if c not in unique:
    unique.append(c)
print(unique)

['b', 'h', 'a', 'r', 't', ' ', 'e', 'l', 'c', 'o', 'n', 'i', 's']

In [ ]:
del unique

In [ ]:
data = "bharat electronics"
unique = []
[unique.append(c) for c in data if c not in unique]

print(unique)

['b', 'h', 'a', 'r', 't', ' ', 'e', 'l', 'c', 'o', 'n', 'i', 's']

In [ ]:
# union, intersection, difference, symmetricdifference
# & intersection 
# | union
# ^ symmetric difference
# - difference

In [ ]:
a = generateRandoms(10 , 0, 20)
b = generateRandoms(10 , 0, 20)
print(a , b)

[4, 17, 11, 0, 13, 13, 0, 9, 3, 9] [9, 1, 2, 5, 0, 6, 19, 4, 12, 5]

In [ ]:
set(a) & set(b)

{0, 4, 9}

In [ ]:
x = set(a)
y = set(b)
print(x, "\n" , y)

{0, 3, 4, 9, 11, 13, 17}
 {0, 1, 2, 4, 5, 6, 9, 12, 19}

In [ ]:
x | y

{0, 1, 2, 3, 4, 5, 6, 9, 11, 12, 13, 17, 19}

In [ ]:
x - y

{3, 11, 13, 17}

In [ ]:
y - x

{1, 2, 5, 6, 12, 19}

In [ ]:
x ^ y

{1, 2, 3, 5, 6, 11, 12, 13, 17, 19}

In [ ]:
x.union(y)

{0, 1, 2, 3, 4, 5, 6, 9, 11, 12, 13, 17, 19}

In [ ]:
x.issuperset(y)

False

In [ ]:
print(x)
x.add(23)
print(x)

{0, 3, 4, 9, 11, 13, 17}
{0, 3, 4, 9, 11, 13, 17, 23}

In [ ]:
# dir(x)
x.remove(11)
print(x)

{0, 3, 4, 9, 13, 17, 23}

In [ ]:
x.discard(17)
print(x)

{0, 3, 4, 9, 13, 23}

# 11-Jun-2021

In [ ]:
#any variable  outside the function is called as global variable

a = 5  

def fun1( ) :
	print("fun1 a = " , a )

def fun2( ) :
	print("fun2 a = " , a )


fun1()
fun2()

In [ ]:
#any variable  outside the function is called as global variable

a = 5  

def fun1( ) :
	a = 10
	print("fun1 a = " , a )

def fun2( ) :
	print("fun2 a = " , a )


fun1()
fun2()

In [ ]:
#any variable  outside the function is called as global variable

a = 5  

def fun1( ) :
	global a
	a = 10
	print("fun1 a = " , a )

def fun2( ) :
	print("fun2 a = " , a )


fun1()
fun2()

In [ ]:
#calculator.py
def add(a, b):
	print("Add ")
	return a + b

In [ ]:
import calculator

a = 5
b = 10
res = calculator.add(a, b)

#print(f"{a} + {b} = {res}")

print("{} + {} = {}".format(a,b,res))

In [ ]:
def add(a, b):
	print("Add ")
	return a + b

print("calculator.py __name__ = " , __name__)


if __name__ == "__main__":
	print("This is global statement in calculator.py")

In [ ]:
import calculator

print("test_calculator.py __name__ = " , __name__)
a = 5
b = 10
res = calculator.add(a, b)

#print(f"{a} + {b} = {res}")

print("{} + {} = {}".format(a,b,res))

## Dictionary

In [ ]:
#In a dictionary every element has two part (key, value)
marks = [12,21,23,32,43]
names = ['venkatesh','rajeev','suhasm','nirupam','yogendra']

In [ ]:
#1. get the index where the given name is stored.
#2. goto marks list and access the element by specifying the index obtained from step 1.

In [ ]:
key = input("Enter the name : ")

i = names.index(key)
print( marks[i] )

Enter the name : rajeev
21

In [ ]:
marksDict =  {'venkatesh' : 12,
              'rajeev' : 21,
              'suhasm':23,
              'nirupam':32,
              'yogendra':43}

In [ ]:
marksDict["sikander"]

KeyError: ignored

In [ ]:
print( marksDict.get('nirupam') )
print( marksDict.get('sikander') )
print( marksDict.get('ankit' , 0) )

32
None
0

In [ ]:
data = "bharat electronis"
freq = {}
for c in data:
  #freq[c] = freq[c] + 1
  if c in freq:
    freq[c] = freq[c] + 1
  else:
    freq[c] = 1
print(freq)

{'b': 1, 'h': 1, 'a': 2, 'r': 2, 't': 2, ' ': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'n': 1, 'i': 1, 's': 1}

In [ ]:
data = "bharat electronis"
freq = {}
for c in data:
    freq[c] = freq.get(c,0 ) + 1
print(freq)

{'b': 1, 'h': 1, 'a': 2, 'r': 2, 't': 2, ' ': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'n': 1, 'i': 1, 's': 1}

In [ ]:
data = "public sector unit"

import collections
freq = collections.Counter(data)
print(freq)

Counter({'u': 2, 'i': 2, 'c': 2, ' ': 2, 't': 2, 'p': 1, 'b': 1, 'l': 1, 's': 1, 'e': 1, 'o': 1, 'r': 1, 'n': 1})

In [ ]:
a = {}  #empty dict
b = set()
print(type(a))
print(type(b))

<class 'dict'>
<class 'set'>

In [ ]:
a['a'] = 1
a['b'] = 5
a['c'] = 8
print(a)

{'a': 1, 'b': 5, 'c': 8}

In [ ]:
a['a'] = 3
print(a)

{'a': 3, 'b': 5, 'c': 8}

In [ ]:
# a.remove('a')
a.pop('a')
print(a)

{'b': 5, 'c': 8}

In [ ]:
a.keys()

dict_keys(['b', 'c'])

In [ ]:
a.values()

dict_values([5, 8])

In [ ]:
a.items()

dict_items([('b', 5), ('c', 8)])

In [ ]:
for key in a:
  print(key, a[key])

b 5
c 8

In [ ]:
cities = {'KAR' : ['BANGALORE', 'MYSORE', 'BELGAUM'], 
          'UP' : ['GAZIABAD','KANPUR']}
print(cities)

{'KAR': ['BANGALORE', 'MYSORE', 'BELGAUM'], 'UP': ['GAZIABAD', 'KANPUR']}

In [ ]:
# Exception are runtime errors 
# IndexError : Index out of range
# NameError : Refering to name which is not created.
# KeyError : Accessing non-existing elements from dict.
# ValueError : Trying to delete element from list which is not existing.
# TypeError :

In [ ]:
a = [12, 23, 34]
# print(a [ 5 ])
# a.remove(89)
"asf" + 5
print("Last line")

TypeError: ignored

In [ ]:
# print( city )

In [ ]:
cities['TN']

KeyError: ignored

In [ ]:
# try : try block, code where there is a possibility of an error occurring is placed in this block.
# except (catch) : Write code to Handle the exception. 
# raise (throw) : this is used to raise an exception.

In [ ]:
a = [12,23,21,45,23]

print("Enter the index of element : ")
try:
  i = int(input())
  
  value = a[i]
  print("Element at index {} = {}".format(i,value))
  i = i + "a"
except (IndexError,ValueError):
	print("Index Error")
except:
  print("Generic Exception block")
print("End of program")

Enter the index of element :
5

TypeError: ignored

In [ ]:
import sys
a = [12,23,21,45,23]

print("Enter the index of element : ")
try:
  i = int(input())
  
  value = a[i]
  print("Element at index {} = {}".format(i,value))
  i = i + "a"
except:
  print("Generic Exception block")
  print(sys.exc_info()[0])
  print(sys.exc_info()[1])
print("End of program")

Enter the index of element :
8
Generic Exception block
<class 'IndexError'>
list index out of range
End of program

In [ ]:
try:
  age = int(input("Enter the age"))
  if age < 18:
    raise ValueError("Invalid age, cannot register")
  print("You are registered for vacination")
except:
  errorInfo = sys.exc_info()
  print("Type of error : " , errorInfo[0])
  print("Error Message : " , errorInfo[1])

Enter the age23
You are registered for vacination

In [ ]:
def registerForVacination(age):  
  if age < 18:
    raise ValueError("Invalid age, cannot register")
  print("You are registered for vacination")

In [ ]:
try:
  age = int(input("Enter the age"))
  registerForVacination(age)
except:
  errorInfo = sys.exc_info()
  print("Type of error : " , errorInfo[0])
  print("Error Message : " , errorInfo[1])

## Object Oriented Programming

In [ ]:
# class / structure
class Employee:
  pass

In [ ]:
e1 = Employee()
print(type(e1))

<class '__main__.Employee'>

In [ ]:
class Employee:
  empid = 0  #This does not create instance memers
  name = 0

In [ ]:
class Employee:
  def __init__(this):
    this.empid = 0
    this.name = "NA"
    print("Object Created")

In [ ]:
e1 = Employee()
print(e1.empid, e1.name)

Object Created
0 NA

In [ ]:
class Employee:
  def __init__(self, empid, name):
    self.empid = empid
    self.name = name
    print("Object Created " , id(self))
  def __del__(self):
    print("Object Destroyed " , id(self))

In [ ]:

e1 = Employee(1,"Sikander")
print(e1.empid, e1.name)

Object Created  140390684159184
Object Destroyed  140390684510480
1 Sikander

In [ ]:
e2 = e1
e1 = Employee(2,"Padma")

Object Created  140390683855056
Object Destroyed  140390683854864

In [ ]:

class Employee:
  def __init__(self, empid, name):
    self.empid = empid
    self.name = name
    print("Object Created " , id(self))
  def __del__(self):
    print("Object Destroyed " , id(self))


#-------------------------------------------------
if __name__ == "__main__":
    e1 = Employee(1,"Sikander")
    print(e1.empid, e1.name)

In [ ]:
class Employee:
  def __init__(self, empid, name):
    self.empid = empid
    self.name = name
    print("Object Created " , id(self))
  def __del__(self):
    print("Object Destroyed " , id(self))

  def __str__(self):  #operator <<
    return str(self.empid) +" " + self.name
  
#-------------------------------------------------
def fun():
  e1 = Employee(1,"Sikander")
  print(e1)
  return e1

if __name__ == "__main__":
  x = fun()
  print("I am back in main")

Object Created  140390683917520
1 Sikander
I am back in main

In [ ]:
class Employee:
  def __init__(self, empid, name):
    self.empid = empid
    self.name = name
    print("Object Created " , id(self))
  def __del__(self):
    print("Object Destroyed " , id(self))

  def __str__(self):  #operator <<
    return str(self.empid) +" " + self.name

  #__eq__ == , __ne__ != , __gt__ >, ge, lt, le
  def __eq__(self,e2):
    print("__eq__ called")
    return self.empid == e2.empid and self.name == e2.name
  def __lt__(self, e2):
#    return self.empid < e2.empid
    return self.name < e2.name
  
#-------------------------------------------------

if __name__ == "__main__":
  employees = [ Employee(1,"Sikander"), Employee(32,"Venkata Krishna"),
                Employee(56,"Satish"), Employee(41,"Vinay")]

  for emp in employees:
    print(emp)

  employees = sorted(employees)
  print("\n---------------\n")
  for emp in employees:
    print(emp)

Object Created  140390684158544
Object Created  140390684158800
Object Created  140390684157520
Object Created  140390684159952
Object Destroyed  140390683801168
Object Destroyed  140390683802128
Object Destroyed  140390683803152
Object Destroyed  140390683799760
1 Sikander
32 Venkata Krishna
56 Satish
41 Vinay

---------------

56 Satish
1 Sikander
32 Venkata Krishna
41 Vinay

In [ ]:
class Employee:
    counter = 0
    def __init__(self,name):
        Employee.counter = Employee.counter + 1
        self.empid = Employee.counter
        self.name = name
  
    def __str__(self):  #operator <<
        return str(self.empid) +" " + self.name

    def employeeCount( ):
        print("Total number of employee objects : " , Employee.counter)
#-------------------------------------------------

if __name__ == "__main__":
    Employee.employeeCount()
    
    employees = [ Employee("Sikander"), Employee("Venkata Krishna"),
                Employee("Satish"), Employee("Vinay")]

    Employee.employeeCount()
    
    for emp in employees:
        print(emp)

In [ ]:
class Employee:
    def __init__(self):
        print("Employee(Base) init")
#-------------------------------------------------
class Manager(Employee):
    pass
#-------------------------------------------------

if __name__ == "__main__":
    m1 = Manager()

In [ ]:
class Employee:
    def __init__(self,empid,name):
        print("Employee(Base) init")
        self.__empid = empid
        self.name = name
    def __str__(self):
        return str(self.__empid) + " " + self.name
#-------------------------------------------------
class Manager(Employee):
    def __init__(self,empid,name,dept):
        super().__init__(empid,name)
        self.dept = dept
        print("Manager(Derived) init")

    def __str__(self):
        return super().__str__() + " " + self.dept
#-------------------------------------------------

if __name__ == "__main__":
    m1 = Manager(1,"Nagarjuna","CLD")
    #print(m1.__empid, m1.name, m1.dept)
    print(m1)

## Unit Testing

In [ ]:
#circle.py
import math
def circle_area(radius):
    return math.pi * radius * radius

In [ ]:
#test_circle.py
import unittest
import math
from circle import circle_area

class TestCircle(unittest.TestCase):
    def test_positve(self):
        self.assertEqual( circle_area(10) , math.pi * 100 )
#python -m unittest test_circle.py